body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4e00ff, #7a00ff);
    font-family: Arial;
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4e00ff;
    color: white;
    border: none;
    cursor: pointer;
}